section {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    height: 90vh;
}
.error {width: max(40%, min(300px, 90vw)); margin-bottom: 2%;}
p {font: min(25px, max(4vw, 14px)) 'roboto'; text-align: center; padding: 0 7%;}
