/*Clase para reutilizar*/
.columnaFlex, .estrenos__contenedor .estrenos__secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.flexCentrado, .estrenos__contenedor .estrenos__secundario .estrenos h2 {
  display: flex;
  justify-content: center;
  align-items: center; }

.estrenos__contenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 33px 'Playfair Display';
    width: 100%;
    height: 10vh;
    text-align: center;
    letter-spacing: max(1vw, 11px);}
  .estrenos__contenedor .estrenos__principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;}
    .estrenos__contenedor .estrenos__principal h2 {
      font: bold 25px 'roboto';
      letter-spacing: 40px; }
      .estrenos__contenedor .estrenos__principal div p {
        font: 20px 'roboto';
        text-align: justify;
        bottom: 120px;
        background: white;
        padding: 7% 5%;
        margin: 0;}
          .estrenos__contenedor .estrenos__principal div img {
            width: 100%;
            height: 76vh;
            object-fit: cover; }
    .estrenos__secundario {gap: 0px;}
    .estrenos__contenedor .estrenos__secundario .estrenos {
      display: flex;
      flex-wrap: wrap;
      background: white; 
      border-style: solid;
      border-width: 1px 0 0 0;
      border-color: #555;}
      .estrenos__contenedor .estrenos__secundario .estrenos h2 {
        text-align: center;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        font-size: 25px;
        letter-spacing: 10px;
        height: 30vh;
        padding: 0 10px;
        margin: 0;}
  .estrenos__contenedor .estrenos img {
    flex-grow: 1;
    width: 20%;
    height: 30vh;
    object-fit: cover;}
  #estreno2{object-position: 70%;}
  #estreno3{object-position: 75%;}
  #estreno4{object-position: 80%;}
  .estrenos__contenedor .estrenos p {
    width: 100%;
    font: 18px 'roboto';
    text-align: justify;
    padding: 40px 40px 40px 40px;
    margin: 0;}
