section {
    background: black;
}
.peliculas__contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 30rem), 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
    align-items: center;
    justify-items: center;
    padding: 40px 0;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font: bold 33px 'Playfair Display'; 
    color: white;
    margin: 0;
    height: 13.5vh;
}
.peliculas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    width: 70%;
    background: white;
    transition: 1s;
}
.peliculas:hover{
    transform: scale(1.15);
}
.lista__peliculas {
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    height: 30vh; 
    padding: 0 15%; 
    list-style-type: none;
}
.pelicula__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 20VH;
}
#film1 {background-image: url("../Imagenes/greenknight.jpg");}
#film2 {background-image: url("../Imagenes/minari.jpg");}
#film3 {background-image: url("../Imagenes/uncut.jpg");}
#film4 {background-image: url("../Imagenes/hereditary.jpg");}
#film5 {background-image: url("../Imagenes/sacreddeer.jpg");}
#film6 {background-image: url("../Imagenes/swissarmy.jpg");}
#film7 {background-image: url("../Imagenes/exmachina.jpg");}
#film8 {background-image: url("../Imagenes/enemy.jpg");}
#film9 {background-image: url("../Imagenes/springbreakers.jpg");}
h2 {font: bold 45px 'Courier Prime'; color: white;}
li {font-size: 23px;}
