/*Header*/
* {font: 16px 'roboto';}
header{display: flex; justify-content: space-between; padding: 20px;}
.logo {width: max(min(28vw, 150px), (10vw));}
.navbar {width: 100%;}
.navbar-nav {display: flex; justify-content: space-evenly; width: 100%;}
.navbar-toggler {transform: scale(1.2);}
.nav-link {font-size: 24px}
.active {font-weight: bold;}

/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: min(80px, 8%) 0;
}
.footer {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    width: max(30%, min(334px, 80%));
}
i {color: black;}


@media only screen and (max-width: 790px){
    .footerRedes {width: 50%;}
    i {transform: scale(0.8);}
}