header {
  position: absolute;
  width: 100%;
  z-index: 1; }

.menu li a {
  color: white; }

section {
  text-align: center; }

.presentacion {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: max(4%, 30px) 0;}
  .presentacion .presentacion__titulo {
    font: bold min(33px, 6.5vw) 'Playfair Display';
    letter-spacing: 1px;}
  .presentacion .presentacion__parrafo {
    text-align: justify;
    width: max(50%, min(75%, 592px));
    margin: 4% 0 0 0;
    font: min(25px, 6vw) 'roboto'; }

.banner__contenedor {
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .banner__contenedor .banner {
    background-image: url("../Imagenes/banner1-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    animation: desenfoque 3s; }

@keyframes desenfoque {
  from {
    filter: blur(8px);
    transform: scale(1.2); }
  to {
    filter: blur(0px);
    transform: scale(1); } }

/*Estilos del carousel bootstrap*/
.imagenes {
  display: flex;
  justify-content: center;
  padding: 20px 0;}

.carousel {
  width: max(50%, min(75%, 592px))}

h5 {
  font: 'Playfair Display'; }
@media only screen and (max-width: 790px) {
  .carousel {
    width: 100%}
    .w-100{
      min-height: 30vh;
      object-fit: cover;}}
